<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Mygym</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">

  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/index/style_index.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index/style_hamburger.css">

  <link rel="shortcut icon" href="/images/ico.png" type="image/x-icon">
  <script defer src="/javascripts/index/index.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>

</head>




<body>
  <!-- header -->
  <header class="header">
    <nav class="nav">

      <img src="/images/Mygym.png" alt="Descrição da imagem" id="img0" class="logo">
      <button class="hamburger"></button>
      <ul class="nav-list">
        <li><a href="#">Unidades</a></li>
        <li><a href="#">Treinos</a></li>
        <li><a href="http://localhost:3000/login">Fixa</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

<div class="part0">
</div>

<!-- Part 1 -->
<div class="part1">
  <div class="box1"> 
    <h1>SUA SAÚDE</h1>
    <h1>NO ALCANCE</h1>
    <h1>DA SUA VIDA</h1>
    <br></br>
    <a href="http://localhost:3000/login">
      <img src="/images/button2.png" alt="Descrição da imagem" class="button1">
    </a>
  </div>
</div>

<!-- Part 2 -->
<div class="part2">
  <div class="box2">
    <h1>Quem Somos?</h1>
    <h1>Saiba mais sobre nossa empresa</h1>
    <a href="#">
      <img src="/images/button3.png" alt="Descrição da imagem" class="button2">
    </a>
  </div>
</div>


<!-- Part 3 -->
<div class="part3">
  <div class="box3">
    <h1>MODALIDADES</h1>
    <nav class="navcontene">
      <ul class="list3">
        <li class="button6"><img src="/images/button4.png" alt="Descrição da imagem"></li>

        <div class="boxSlide1Slide">
          <li><img src="/images/p3.png" alt="Descrição da imagem"></li>
        </div>

        <div class="boxSlide">
          <li><img src="/images/p4.png" alt="Descrição da imagem"></li>
        </div>

        <div class="boxSlide">
          <li><img src="/images/p5.png" alt="Descrição da imagem"></li>
        </div>

        <div class="boxSlide">
          <li><img src="/images/p5.png" alt="Descrição da imagem"></li>
        </div>

        <div class="boxSlide">
          <li><img src="/images/p5.png" alt="Descrição da imagem"></li>
        </div>

        <div class="boxSlide">
          <li><img src="/images/p5.png" alt="Descrição da imagem"></li>
        </div>

        
        <li class="button7"><img src="/images/button5.png" alt="Descrição da imagem"></li>
      </ul>
    </nav>
  </div>
</div>


<div class="part3-1">
  <div><img src="/images/p3.png" alt="Slide 1"></div>
  <div><img src="/images/p4.png" alt="Slide 2"></div>
  <div><img src="/images/p5.png" alt="Slide 3"></div>
  <div><img src="/images/p5.png" alt="Slide 4"></div>
  <div><img src="/images/p5.png" alt="Slide 5"></div>
  <div><img src="/images/p5.png" alt="Slide 6"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- Part 4 -->
<div class="part4">
  <div class="box4">
    <h1>NUNCA É</h1>
    <h1>TARDE DEMAIS</h1>
    <h1>PARA COMEÇAR</h1>
    <br></br>

    <a href="http://localhost:3000/login">
      <img src="/images/button2.png" alt="Descrição da imagem" class="button1">
    </a>
  </div>
</div>

<div class="part5">
</div>
 


<!-- footer -->


<footer>
  <div class="footer-cap">
    <div class="footer-cap-box">
      <div class="footer-cap-text">
        <p>Fique por dentro das novidades e promoções</p>
      </div>

      <div class="footer-cap-email">
        <input id=Email name="Email" type="text" placeholder="enter your email" required>
        <button>Cadastrar</button>
      </div>
    </div>
  </div>

  <div class="footer-med">
    <div class="footer-med-box">
        <div>
          <img src="/images/Mygym.png" alt="Descrição da imagem" id="img0" class="logo">
        </div>

        <div class="footer-med-menu">
          <a href="#">Ajuda</a>
          <a href="#">Sobre a Mygym</a>
          <a href="#">Imprensa</a>
          <a href="#">Sustentabilidade</a>
        </div>

        <div class="footer-med-docs">
          <a href="#">Contratos é documentos</a>
        </div>

        <div class="footer-med-icons">
          <ul>
            <li><img src="/images/uioiuouio_1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
            <li><img src="/images/uioiuoiuoio_1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
            <li><img src="/images/uioiuouio__2__1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
            <li><img src="/images/iuouoiuo_1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
            <li><img src="/images/uiouio_1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
          </ul>

        </div>
    </div>
  </div>

  <div class="footer-bar">
    
  </div>

  <div class="footer-end">
    <div class="footer-end-box">
      <div class="footer-end-copBox">
        <a href="#">Trabalhe conosco</a>
        <p class="footer-end-cop">Copyright © 2023</p>
      </div>
  
      <div class="footer-end-copBox-2">
        <a href="#">Termos e condições</a>
      </div>
  
      <div class="footer-end-copBox-2">
        <a href="#">Portal de privacidade</a>
      </div>
  
      <div class="footer-end-copBox-2">
        <a href="#">Contato</a>
      </div>
  
      <div class="footer-end-icons">
        <p>Conheça nosso app! Baixe agora:</p>
        <div>
          <li><img src="/images/sdfdsfsf_1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
          <li><img src="/images/image_1.png" alt="Descrição da imagem" class="footer-ico-3"></li>
        </div>
      </div>
    </div>
  </div>
  </footer>
</body>

</html>