<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Mygym</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">

  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/profile/style_profile.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile/style_hamburger.css">

  <link rel="shortcut icon" href="/images/ico.png" type="image/x-icon">
  <script defer src="/javascripts/profile/profile.js"></script>

</head>




<body>
  <!-- header -->
  <header class="header">
    <nav class="nav">

      <img src="/images/Mygym.png" alt="Descrição da imagem" id="img0" class="logo">
      <button class="hamburger"></button>
      <ul class="nav-list">
        <li><a href="#">Unidades</a></li>
        <li><a href="#">Treinos</a></li>
        <li><a href="#">Fixa</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

<div class="part0">
</div>

<!-- Part 1 -->
<div class="part1">
  <div class="box1"> 
    <h1 id="text1">Seja bem vindo </h1>
    <h1 id="text2">O seu plano atual é de </h1>
    <h1 id="text3">O seu instrutor é  </h1>
    <br></br>
    <a href="http://localhost:3000/login">
      <img src="/images/button2.png" alt="Descrição da imagem" class="button1">
    </a>
  </div>
</div>

  <!-- footer -->
<footer>
    <p>&copy; 2023 Site Responsivo</p>
  </footer>
</body>

</html>