.e2_2 { 
	overflow:hidden;
}

.e2_2 {
	background-color:rgba(0, 0, 0, 0.9900000095367432);
	width:1350px;
	height:4453px;
	position:absolute;
	left:0;
	top:0;
}
.e19_99 { 
	width:1366px;
	height:479px;
	position:absolute;
	left:0px;
	top:3974px;
}
.e17_77 { 
	width:1366px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_54 { 
	background-color:rgba(29.75000012665987, 3.4708332689478993, 3.4708332689478993, 1);
	width:1366px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_55 { 
	color:rgba(255, 255, 255, 1);
	width:336px;
	height:17.51243782043457px;
	position:absolute;
	left:196px;
	top:66.86566925048828px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-2;
	line-height:px;
}
.e17_60 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:367px;
	height:43.78109359741211px;
	position:absolute;
	left:761px;
	top:23.08447265625px;
}
.e17_61 { 
	background-color:rgba(30.00000011175871, 3.000000058673322, 3.000000058673322, 1);
	width:367px;
	height:43.78109359741211px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e17_61 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e19_93 { 
	color:rgba(74.3749974668026, 22.932291962206364, 22.932291962206364, 1);
	width:95px;
	height:23px;
	position:absolute;
	left:11px;
	top:9.91552734375px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e17_68 { 
	width:367px;
	height:51.69149398803711px;
	position:absolute;
	left:761px;
	top:90px;
}
.e17_69 { 
	background-color:rgba(255, 255, 255, 1);
	width:367px;
	height:51.69149398803711px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e17_67 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:23px;
	position:absolute;
	left:136px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e17_74 { 
	width:141px;
	height:61px;
	position:absolute;
	left:164px;
	top:176px;
}
.e17_75 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e17_76 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:138px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e17_79 { 
	transform: rotate(0.4407280563427763deg);
	width:1035px;
	height:0px;
	position:absolute;
	left:131px;
	top:344px;
}
.e17_79 { 
	border:2px solid rgba(30.00000011175871, 3.000000058673322, 3.000000058673322, 1);
}
.e17_80 { 
	width:27px;
	height:27px;
	position:absolute;
	left:972px;
	top:181px;
	background-image:url(http://localhost:3000/images/uioiuoiuoio_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_81 { 
	width:27px;
	height:27px;
	position:absolute;
	left:927px;
	top:181px;
	background-image:url(http://localhost:3000/images/uioiuouio_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_82 { 
	width:34px;
	height:27px;
	position:absolute;
	left:1017px;
	top:181px;
	background-image:url(http://localhost:3000/images/uioiuouio__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_83 { 
	width:32px;
	height:27px;
	position:absolute;
	left:1114px;
	top:181px;
	background-image:url(http://localhost:3000/images/uiouio_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_84 { 
	width:27px;
	height:27px;
	position:absolute;
	left:1069px;
	top:181px;
	background-image:url(http://localhost:3000/images/iuouoiuo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_85 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:23px;
	position:absolute;
	left:164px;
	top:378px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_94 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:470px;
	top:242px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_97 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:23px;
	position:absolute;
	left:638px;
	top:188px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_98 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:23px;
	position:absolute;
	left:470px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_96 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:470px;
	top:188px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_95 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:23px;
	position:absolute;
	left:470px;
	top:215px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_89 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:23px;
	position:absolute;
	left:164px;
	top:427px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e19_86 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:23px;
	position:absolute;
	left:329px;
	top:378px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_87 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:23px;
	position:absolute;
	left:511px;
	top:376px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_88 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:23px;
	position:absolute;
	left:703px;
	top:376px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_90 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:23px;
	position:absolute;
	left:897px;
	top:376px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_91 { 
	width:122px;
	height:38px;
	position:absolute;
	left:1036px;
	top:407px;
	background-image:url(http://localhost:3000/images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_92 { 
	width:122px;
	height:36px;
	position:absolute;
	left:897px;
	top:408px;
	background-image:url(http://localhost:3000/images/sdfdsfsf_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_119 { 
	background-color:rgba(0, 0, 0, 0.9900000095367432);
	width:1366px;
	height:29px;
	position:absolute;
	left:0px;
	top:450px;
}
.e29_235 { 
	width:1366px;
	height:853px;
	position:absolute;
	left:0px;
	top:2968px;
}
.e29_237 { 
	width:1366px;
	height:853px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_109 { 
	overflow:hidden;
}
.e25_109 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1366px;
	height:853px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_236 { 
	width:1366px;
	height:853px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(http://localhost:3000/images/fitness_1882721_1280_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_228 { 
	width:498px;
	height:174px;
	position:absolute;
	left:77px;
	top:207px;
}
.e29_229 { 
	color:rgba(255, 255, 255, 1);
	width:444px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_230 { 
	color:rgba(255, 255, 255, 1);
	width:461px;
	height:48px;
	position:absolute;
	left:0px;
	top:63px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_231 { 
	color:rgba(255, 255, 255, 1);
	width:498px;
	height:48px;
	position:absolute;
	left:0px;
	top:126px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_232 { 
	width:407px;
	height:72px;
	position:absolute;
	left:77px;
	top:457px;
}
.e29_233 { 
	background-color:rgba(255, 255, 255, 1);
	width:407px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_234 { 
	color:rgba(0, 0, 0, 0.9900000095367432);
	width:172px;
	height:36px;
	position:absolute;
	left:117px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
	line-height:px;
}
.e25_120 { 
	width:1278px;
	height:430px;
	position:absolute;
	left:44px;
	top:2276px;
}
.e24_101 { 
	width:309px;
	height:302px;
	position:absolute;
	left:101px;
	top:87px;
	background-image:url(http://localhost:3000/images/andreea_boncota_isq8ibgjni8_unsplash_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_102 { 
	width:309px;
	height:302px;
	position:absolute;
	left:471px;
	top:87px;
	background-image:url(http://localhost:3000/images/woman_1284656_1280_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_104 { 
	width:336px;
	height:302px;
	position:absolute;
	left:841px;
	top:87px;
	background-image:url(http://localhost:3000/images/fitness_4006937_1280_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_205 { 
	width:913px;
	height:389px;
	position:absolute;
	left:169px;
	top:0px;
}
.e29_206 { 
	color:rgba(255, 255, 255, 1);
	width:363px;
	height:48px;
	position:absolute;
	left:272px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_224 { 
	color:rgba(255, 255, 255, 1);
	width:203px;
	height:144px;
	position:absolute;
	left:0px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_227 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:48px;
	position:absolute;
	left:762px;
	top:262px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_226 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:48px;
	position:absolute;
	left:385px;
	top:262px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e29_214 { 
	width:43px;
	height:38px;
	position:absolute;
	left:0px;
	top:212px;
}
.e29_215 { 
	background-color:rgba(30.00000011175871, 3.000000058673322, 3.000000058673322, 0);
	width:43px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.e29_215 { 
	border:1.5px solid rgba(255, 255, 255, 1);
}
.e29_218 { 
	width:24px;
	height:24px;
	position:absolute;
	left:9px;
	top:7px;
}
.i29_218_1007_9371 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei29_218_1007_9371 { 
	width:6px;
	height:12px;
	position:absolute;
	left:9px;
	top:6px;
}
.e29_220 { 
	transform: rotate(180deg);
	width:43px;
	height:38px;
	position:absolute;
	left:1278px;
	top:212px;
}
.e29_221 { 
	transform: rotate(180deg);
	background-color:rgba(30.00000011175871, 3.000000058673322, 3.000000058673322, 0);
	width:43px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.e29_221 { 
	border:1.5px solid rgba(255, 255, 255, 1);
}
.e29_222 { 
	transform: rotate(180deg);
	width:24px;
	height:24px;
	position:absolute;
	left:-9px;
	top:7px;
}
.i29_222_1007_9371 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei29_222_1007_9371 { 
	width:6px;
	height:12px;
	position:absolute;
	left:9px;
	top:6px;
}
.e29_225 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e29_225 { 
	width:1107px;
	height:0px;
	position:absolute;
	left:85px;
	top:430px;
}
.e29_193 { 
	width:1366px;
	height:944px;
	position:absolute;
	left:0px;
	top:1178px;
}
.e29_195 { 
	width:1366px;
	height:944px;
	position:absolute;
	left:0px;
	top:0px;
}
.e53_100 { 
	overflow:hidden;
}
.e53_100 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1366px;
	height:944px;
	position:absolute;
	left:0px;
	top:0px;
}
.e53_101 { 
	width:1366px;
	height:944px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_196 { 
	overflow:hidden;
}
.e29_196 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1366px;
	height:944px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_198 { 
	width:1366px;
	height:944px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(http://localhost:3000/images/man_5886574_1280_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_121 { 
	width:483px;
	height:78px;
	position:absolute;
	left:502px;
	top:181px;
}
.e29_122 { 
	color:rgba(255, 255, 255, 1);
	width:444px;
	height:52px;
	position:absolute;
	left:39px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
	line-height:px;
}
.e29_123 { 
	color:rgba(255, 255, 255, 1);
	width:379px;
	height:39px;
	position:absolute;
	left:0px;
	top:39px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-2;
	line-height:px;
}
.e29_202 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:102px;
	height:43px;
	position:absolute;
	left:626px;
	top:290px;
}
.e29_203 { 
	background-color:rgba(30.00000011175871, 3.000000058673322, 3.000000058673322, 0);
	width:102px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e29_203 { 
	border:1.5px solid rgba(255, 255, 255, 1);
}
.e29_204 { 
	color:rgba(255, 255, 255, 1);
	width:48.78260803222656px;
	height:22.589658737182617px;
	position:absolute;
	left:31px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e24_100 { 
	width:1449px;
	height:947px;
	position:absolute;
	left:163px;
	top:86px;
}
.e53_744 { 
	width:1366px;
	height:947px;
	position:absolute;
	left:83px;
	top:0px;
}
.e12_29 { 
	overflow:hidden;
}
.e12_29 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1366px;
	height:947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e15_50 { 
	width:1366px;
	height:947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e53_743 { 
	overflow:hidden;
}
.e53_743 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1366px;
	height:947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e15_51 { 
	width:1366px;
	height:947px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(http://localhost:3000/images/spencer_davis_0shts8ipy28_unsplash_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_39 { 
	width:498px;
	height:174px;
	position:absolute;
	left:0px;
	top:150px;
}
.e12_32 { 
	color:rgba(255, 255, 255, 1);
	width:461px;
	height:48px;
	position:absolute;
	left:0px;
	top:63px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e12_33 { 
	color:rgba(255, 255, 255, 1);
	width:498px;
	height:48px;
	position:absolute;
	left:0px;
	top:126px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e12_31 { 
	color:rgba(255, 255, 255, 1);
	width:444px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e12_40 { 
	width:407px;
	height:72px;
	position:absolute;
	left:0px;
	top:365px;
}
.e12_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:407px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_38 { 
	color:rgba(0, 0, 0, 0.9900000095367432);
	width:172px;
	height:36px;
	position:absolute;
	left:117px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
	line-height:px;
}
.e12_43 { 
	width:1366px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_4 { 
	background-color:rgba(0, 0, 0, 0.8299999833106995);
	width:1366px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_41 { 
	width:141px;
	height:61px;
	position:absolute;
	left:39px;
	top:13px;
}
.e5_6 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e10_13 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:138px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e12_42 { 
	width:327px;
	height:24px;
	position:absolute;
	left:929px;
	top:31px;
}
.e10_10 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:107px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e10_11 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:24px;
	position:absolute;
	left:195px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e10_12 { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:24px;
	position:absolute;
	left:251px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_9 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
